<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.LmdpCastProduceMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.LmdpCastProduce">
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="planId" column="plan_id" jdbcType="VARCHAR"/>
            <result property="smeltTimes" column="smelt_times" jdbcType="VARCHAR"/>
            <result property="reelNum" column="reel_num" jdbcType="VARCHAR"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="customer" column="customer" jdbcType="VARCHAR"/>
            <result property="thick" column="thick" jdbcType="VARCHAR"/>
            <result property="width" column="width" jdbcType="VARCHAR"/>
            <result property="procUpperTime" column="proc_upper_time" jdbcType="VARCHAR"/>
            <result property="procUpperShiftTthick" column="proc_upper_shift_tthick" jdbcType="VARCHAR"/>
            <result property="procUpperShiftTweight" column="proc_upper_shift_tweight" jdbcType="VARCHAR"/>
            <result property="procLowerLocationNum" column="proc_lower_location_num" jdbcType="VARCHAR"/>
            <result property="procLowerDutyWeight" column="proc_lower_duty_weight" jdbcType="VARCHAR"/>
            <result property="procLowerRemoveTime" column="proc_lower_remove_time" jdbcType="VARCHAR"/>
            <result property="procLowerRollDiameter" column="proc_lower_roll_diameter" jdbcType="VARCHAR"/>

            <result property="qtfhTurndownTime" column="qtfh_turndown_time" jdbcType="VARCHAR"/>
            <result property="qtfhTurndownSmeltNum" column="qtfh_turndown_smelt_num" jdbcType="VARCHAR"/>

            <result property="ts" column="ts" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, plan_id, smelt_times, reel_num, brand, customer, thick, width, proc_upper_time, proc_upper_shift_tthick, proc_upper_shift_tweight, proc_lower_location_num, proc_lower_duty_weight, proc_lower_remove_time, proc_lower_roll_diameter, qtfh_turndown_time, qtfh_turndown_smelt_num, create_time, ts
    </sql>
</mapper>
