<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.LmdpThirdConciseMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.LmdpThirdConcise">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="holdRefine3FollowTime" column="hold_refine3_follow_time" jdbcType="VARCHAR"/>
            <result property="holdRefine3BeginTime" column="hold_refine3_begin_time" jdbcType="VARCHAR"/>
            <result property="holdRefine3EndTime" column="hold_refine3_end_time" jdbcType="VARCHAR"/>
            <result property="holdRefine3Duration" column="hold_refine3_duration" jdbcType="VARCHAR"/>
            <result property="holdRefine3Temp" column="hold_refine3_temp" jdbcType="VARCHAR"/>
            <result property="holdRefine3Medium" column="hold_refine3_medium" jdbcType="VARCHAR"/>
            <result property="holdRefine3Dose" column="hold_refine3_dose" jdbcType="VARCHAR"/>
            <result property="holdRefine3ColdStuffDose" column="hold_refine3_cold_stuff_dose" jdbcType="VARCHAR"/>
            <result property="holdRefine3GroupId" column="hold_refine3_group_id" jdbcType="VARCHAR"/>
            <result property="holdRefine3GroupName" column="hold_refine3_group_name" jdbcType="VARCHAR"/>
            <result property="holdRefine3CasterId" column="hold_refine3_caster_id" jdbcType="VARCHAR"/>
            <result property="holdRefine3CasterName" column="hold_refine3_caster_name" jdbcType="VARCHAR"/>
            <result property="holdRefine3SmelterId" column="hold_refine3_smelter_id" jdbcType="VARCHAR"/>
            <result property="holdRefine3SmelterName" column="hold_refine3_smelter_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hold_refine3_follow_time,hold_refine3_begin_time,
        hold_refine3_end_time,hold_refine3_duration,hold_refine3_temp,
        hold_refine3_medium,hold_refine3_dose,hold_refine3_cold_stuff_dose,
        hold_refine3_group_id,hold_refine3_group_name,hold_refine3_caster_id,
        hold_refine3_caster_name,hold_refine3_smelter_id,hold_refine3_smelter_name
    </sql>
</mapper>
