<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.LmdpQcColdReelReportMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.LmdpQcColdReelReport">
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
            <result property="ts" column="ts" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="sortOrder" column="sort_order" jdbcType="VARCHAR"/>
            <result property="consumer" column="consumer" jdbcType="VARCHAR"/>
            <result property="batchNum" column="batch_num" jdbcType="VARCHAR"/>
            <result property="thickness" column="thickness" jdbcType="VARCHAR"/>
            <result property="width" column="width" jdbcType="VARCHAR"/>
            <result property="rollDiameter" column="roll_diameter" jdbcType="VARCHAR"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="VARCHAR"/>
            <result property="shapeQc" column="shape_qc" jdbcType="VARCHAR"/>
            <result property="dimensionalDeviation" column="dimensional_deviation" jdbcType="VARCHAR"/>
            <result property="mechanicalProperty" column="mechanical_property" jdbcType="VARCHAR"/>
            <result property="surfaceQc" column="surface_qc" jdbcType="VARCHAR"/>
            <result property="facadeQc" column="facade_qc" jdbcType="VARCHAR"/>
            <result property="sampleLevel" column="sample_level" jdbcType="VARCHAR"/>
            <result property="executiveStandard" column="executive_standard" jdbcType="VARCHAR"/>
            <result property="judgeResult" column="judge_result" jdbcType="VARCHAR"/>
            <result property="handleAdvice" column="handle_advice" jdbcType="VARCHAR"/>
            <result property="inspector" column="inspector" jdbcType="VARCHAR"/>
            <result property="monitor" column="monitor" jdbcType="VARCHAR"/>
            <result property="reportTime" column="report_time" jdbcType="VARCHAR"/>
            <result property="advise" column="advise" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,ts,
        creator_id,sort_order,consumer,
        batch_num,thickness,width,
        roll_diameter,brand,status,
        weight,shape_qc,dimensional_deviation,
        mechanical_property,surface_qc,facade_qc,
        sample_level,executive_standard,judge_result,
        handle_advice,inspector,monitor,
        report_time,advise
    </sql>
</mapper>
