<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.LmdpQcColdInspectMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.LmdpQcColdInspect">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="ts" column="ts" jdbcType="TIMESTAMP"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="planNum" column="plan_num" jdbcType="VARCHAR"/>
            <result property="consumer" column="consumer" jdbcType="VARCHAR"/>
            <result property="productUse" column="product_use" jdbcType="VARCHAR"/>
            <result property="batchNum" column="batch_num" jdbcType="VARCHAR"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="rollDiameter" column="roll_diameter" jdbcType="VARCHAR"/>
            <result property="splitFlag" column="split_flag" jdbcType="VARCHAR"/>
            <result property="cold1ThickIn" column="cold1_thick_in" jdbcType="DECIMAL"/>
            <result property="cold1ThickOut" column="cold1_thick_out" jdbcType="DECIMAL"/>
            <result property="cold1Remark" column="cold1_remark" jdbcType="VARCHAR"/>
            <result property="cold1Picture" column="cold1_picture" jdbcType="VARCHAR"/>
            <result property="cold1Inspector" column="cold1_inspector" jdbcType="VARCHAR"/>
            <result property="cold1Time" column="cold1_time" jdbcType="TIMESTAMP"/>
            <result property="cold2ThickIn" column="cold2_thick_in" jdbcType="DECIMAL"/>
            <result property="cold2ThickOut" column="cold2_thick_out" jdbcType="DECIMAL"/>
            <result property="cold2Remark" column="cold2_remark" jdbcType="VARCHAR"/>
            <result property="cold2Picture" column="cold2_picture" jdbcType="VARCHAR"/>
            <result property="cold2Inspector" column="cold2_inspector" jdbcType="VARCHAR"/>
            <result property="cold2Time" column="cold2_time" jdbcType="TIMESTAMP"/>
            <result property="cold3ThickIn" column="cold3_thick_in" jdbcType="DECIMAL"/>
            <result property="cold3ThickOut" column="cold3_thick_out" jdbcType="DECIMAL"/>
            <result property="cold3Remark" column="cold3_remark" jdbcType="VARCHAR"/>
            <result property="cold3Picture" column="cold3_picture" jdbcType="VARCHAR"/>
            <result property="cold3Inspector" column="cold3_inspector" jdbcType="VARCHAR"/>
            <result property="cold3Time" column="cold3_time" jdbcType="TIMESTAMP"/>
            <result property="cold4ThickIn" column="cold4_thick_in" jdbcType="DECIMAL"/>
            <result property="cold4ThickOut" column="cold4_thick_out" jdbcType="DECIMAL"/>
            <result property="cold4Remark" column="cold4_remark" jdbcType="VARCHAR"/>
            <result property="cold4Picture" column="cold4_picture" jdbcType="VARCHAR"/>
            <result property="cold4Inspector" column="cold4_inspector" jdbcType="VARCHAR"/>
            <result property="cold4Time" column="cold4_time" jdbcType="TIMESTAMP"/>
            <result property="cold5ThickIn" column="cold5_thick_in" jdbcType="DECIMAL"/>
            <result property="cold5ThickOut" column="cold5_thick_out" jdbcType="DECIMAL"/>
            <result property="cold5Remark" column="cold5_remark" jdbcType="VARCHAR"/>
            <result property="cold5Picture" column="cold5_picture" jdbcType="VARCHAR"/>
            <result property="cold5Inspector" column="cold5_inspector" jdbcType="VARCHAR"/>
            <result property="cold5Time" column="cold5_time" jdbcType="TIMESTAMP"/>
            <result property="annealing1Workmanship" column="annealing1_workmanship" jdbcType="VARCHAR"/>
            <result property="annealing2Workmanship" column="annealing2_workmanship" jdbcType="VARCHAR"/>
            <result property="annealing3Workmanship" column="annealing3_workmanship" jdbcType="VARCHAR"/>
            <result property="reelNum" column="reel_num" jdbcType="VARCHAR"/>
            <result property="thickness" column="thickness" jdbcType="DECIMAL"/>
            <result property="originWidth" column="origin_width" jdbcType="DECIMAL"/>
            <result property="width" column="width" jdbcType="DECIMAL"/>
            <result property="headStock" column="head_stock" jdbcType="VARCHAR"/>
            <result property="headRejectReason" column="head_reject_reason" jdbcType="VARCHAR"/>
            <result property="tailStock" column="tail_stock" jdbcType="VARCHAR"/>
            <result property="tailRejectReason" column="tail_reject_reason" jdbcType="VARCHAR"/>
            <result property="outerRemove" column="outer_remove" jdbcType="VARCHAR"/>
            <result property="removeReason" column="remove_reason" jdbcType="VARCHAR"/>
            <result property="cutWeight" column="cut_weight" jdbcType="DECIMAL"/>
            <result property="transverseThickness" column="transverse_thickness" jdbcType="DECIMAL"/>
            <result property="longitudinalThickness" column="longitudinal_thickness" jdbcType="DECIMAL"/>
            <result property="cutInspector" column="cut_inspector" jdbcType="VARCHAR"/>
            <result property="cutTime" column="cut_time" jdbcType="TIMESTAMP"/>
            <result property="cutPicture" column="cut_picture" jdbcType="TIMESTAMP"/>
            <result property="singleHeight" column="single_height" jdbcType="DECIMAL"/>
            <result property="singleWidth" column="single_width" jdbcType="DECIMAL"/>
            <result property="singleMediumConvexity" column="single_medium_convexity" jdbcType="DECIMAL"/>
            <result property="singleStraightness" column="single_straightness" jdbcType="DECIMAL"/>
            <result property="singleStrength" column="single_strength" jdbcType="DECIMAL"/>
            <result property="singleExtension" column="single_extension" jdbcType="DECIMAL"/>
            <result property="singleGrainSize" column="single_grain_size" jdbcType="VARCHAR"/>
            <result property="singleRoughness" column="single_roughness" jdbcType="VARCHAR"/>
            <result property="surfaceQuality" column="surface_quality" jdbcType="VARCHAR"/>
            <result property="surfaceQualityRemark" column="surface_quality_remark" jdbcType="VARCHAR"/>
            <result property="appearanceQuality" column="appearance_quality" jdbcType="VARCHAR"/>
            <result property="appearanceQualityRemark" column="appearance_quality_remark" jdbcType="VARCHAR"/>
            <result property="accountOriginThickness" column="account_origin_thickness" jdbcType="DECIMAL"/>
            <result property="accountOriginWidth" column="account_origin_width" jdbcType="DECIMAL"/>
            <result property="accountOriginWeight" column="account_origin_weight" jdbcType="DECIMAL"/>
            <result property="finishedThickness" column="finished_thickness" jdbcType="DECIMAL"/>
            <result property="finishedWidth" column="finished_width" jdbcType="DECIMAL"/>
            <result property="finishedRollDiameter" column="finished_roll_diameter" jdbcType="DECIMAL"/>
            <result property="finishedWeight" column="finished_weight" jdbcType="DECIMAL"/>
            <result property="finishedOuterRemove" column="finished_outer_remove" jdbcType="VARCHAR"/>
            <result property="finishedRemoveReason" column="finished_remove_reason" jdbcType="VARCHAR"/>
            <result property="finishedTransverseThickness" column="finished_transverse_thickness" jdbcType="DECIMAL"/>
            <result property="finishedLongitudinalThickness" column="finished_longitudinal_thickness" jdbcType="DECIMAL"/>
            <result property="finishedThicknessDifference" column="finished_thickness_difference" jdbcType="VARCHAR"/>
            <result property="endwiseHeight" column="endwise_height" jdbcType="VARCHAR"/>
            <result property="warpWidth" column="warp_width" jdbcType="VARCHAR"/>
            <result property="convexRate" column="convex_rate" jdbcType="VARCHAR"/>
            <result property="flatness" column="flatness" jdbcType="VARCHAR"/>
            <result property="tensileStrength" column="tensile_strength" jdbcType="VARCHAR"/>
            <result property="elongation" column="elongation" jdbcType="VARCHAR"/>
            <result property="grain" column="grain" jdbcType="VARCHAR"/>
            <result property="roughness" column="roughness" jdbcType="VARCHAR"/>
            <result property="finishedThicknessDifferencePicture" column="finished_thickness_difference_picture" jdbcType="VARCHAR"/>
            <result property="cold6ThickIn" column="cold6_thick_in" jdbcType="DECIMAL"/>
            <result property="cold6ThickOut" column="cold6_thick_out" jdbcType="DECIMAL"/>
            <result property="cold6Remark" column="cold6_remark" jdbcType="VARCHAR"/>
            <result property="cold6Picture" column="cold6_picture" jdbcType="VARCHAR"/>
            <result property="cold6Inspector" column="cold6_inspector" jdbcType="VARCHAR"/>
            <result property="cold6Time" column="cold6_time" jdbcType="TIMESTAMP"/>
            <result property="castAbnormalInfo" column="cast_abnormal_info" jdbcType="VARCHAR"/>
            <result property="rollPlan" column="roll_plan" jdbcType="VARCHAR"/>
            <result property="cold1DailyQcSituation" column="cold1_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="cold2DailyQcSituation" column="cold2_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="cold3DailyQcSituation" column="cold3_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="cold4DailyQcSituation" column="cold4_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="cold5DailyQcSituation" column="cold5_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="cold6DailyQcSituation" column="cold6_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="furnace1DailyQcSituation" column="furnace1_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="furnace2DailyQcSituation" column="furnace2_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="furnace3DailyQcSituation" column="furnace3_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="reelerDailyQcSituation" column="reeler_daily_qc_situation" jdbcType="VARCHAR"/>
            <result property="annealing1Inspector" column="annealing1_inspector" jdbcType="VARCHAR"/>
            <result property="annealing2Inspector" column="annealing2_inspector" jdbcType="VARCHAR"/>
            <result property="annealing3Inspector" column="annealing3_inspector" jdbcType="VARCHAR"/>
            <result property="annealing1Thick" column="annealing1_thick" jdbcType="DECIMAL"/>
            <result property="annealing2Thick" column="annealing2_thick" jdbcType="DECIMAL"/>
            <result property="annealing3Thick" column="annealing3_thick" jdbcType="DECIMAL"/>
            <result property="furnaceNum" column="furnace_num" jdbcType="VARCHAR"/>
            <result property="rollweightRequirements" column="rollweight_requirements" jdbcType="VARCHAR"/>
            <result property="originRollDiameter" column="origin_roll_diameter" jdbcType="DECIMAL"/>
            <result property="originAbnormalInformation" column="origin_abnormal_information" jdbcType="VARCHAR"/>
            <result property="originDisposalRequirements" column="origin_disposal_requirements" jdbcType="VARCHAR"/>
            <result property="annealing1Entrytime" column="annealing1_entrytime" jdbcType="TIMESTAMP"/>
            <result property="annealing1Exittime" column="annealing1_exittime" jdbcType="TIMESTAMP"/>
            <result property="annealing2Entrytime" column="annealing2_entrytime" jdbcType="TIMESTAMP"/>
            <result property="annealing2Exittime" column="annealing2_exittime" jdbcType="TIMESTAMP"/>
            <result property="annealing3Entrytime" column="annealing3_entrytime" jdbcType="TIMESTAMP"/>
            <result property="annealing3Exittime" column="annealing3_exittime" jdbcType="TIMESTAMP"/>
            <result property="accountUnqualifiedFact" column="account_unqualified_fact" jdbcType="VARCHAR"/>
            <result property="accountUnqualifiedReview" column="account_unqualified_review" jdbcType="VARCHAR"/>
            <result property="finishedFullbandLength" column="finished_fullband_length" jdbcType="DECIMAL"/>
            <result property="singleRollDiameter" column="single_roll_diameter" jdbcType="DECIMAL"/>
            <result property="singleRollWeight" column="single_roll_weight" jdbcType="DECIMAL"/>
            <result property="singleWedgeRatio" column="single_wedge_ratio" jdbcType="DECIMAL"/>
            <result property="stripType" column="strip_type" jdbcType="VARCHAR"/>
            <result property="singleStrengthRe" column="single_strength_re" jdbcType="DECIMAL"/>
            <result property="singleExtensionRe" column="single_extension_re" jdbcType="DECIMAL"/>
            <result property="bendingPerformanceRequirements" column="bending_performance_requirements" jdbcType="VARCHAR"/>
            <result property="bendingPerformanceRe" column="bending_performance_re" jdbcType="VARCHAR"/>
            <result property="mechanicalMeasureReview" column="mechanical_measure_review" jdbcType="VARCHAR"/>
            <result property="headAbnormalRejectPicture" column="head_abnormal_reject_picture" jdbcType="VARCHAR"/>
            <result property="headAbnormalRejectVedio" column="head_abnormal_reject_vedio" jdbcType="VARCHAR"/>
            <result property="tailAbnormalRejectPicture" column="tail_abnormal_reject_picture" jdbcType="VARCHAR"/>
            <result property="tailAbnormalRejectVedio" column="tail_abnormal_reject_vedio" jdbcType="VARCHAR"/>
            <result property="outerAbnormalRejectPicture" column="outer_abnormal_reject_picture" jdbcType="VARCHAR"/>
            <result property="weighingThickness" column="weighing_thickness" jdbcType="DECIMAL"/>
            <result property="weighingConvexity" column="weighing_convexity" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,ts,
        creator_id,plan_num,consumer,
        product_use,batch_num,brand,
        status,model,roll_diameter,
        split_flag,cold1_thick_in,cold1_thick_out,
        cold1_remark,cold1_picture,cold1_inspector,
        cold1_time,cold2_thick_in,cold2_thick_out,
        cold2_remark,cold2_picture,cold2_inspector,
        cold2_time,cold3_thick_in,cold3_thick_out,
        cold3_remark,cold3_picture,cold3_inspector,
        cold3_time,cold4_thick_in,cold4_thick_out,
        cold4_remark,cold4_picture,cold4_inspector,
        cold4_time,cold5_thick_in,cold5_thick_out,
        cold5_remark,cold5_picture,cold5_inspector,
        cold5_time,annealing1_workmanship,annealing2_workmanship,
        annealing3_workmanship,reel_num,thickness,
        origin_width,width,head_stock,
        head_reject_reason,tail_stock,tail_reject_reason,
        outer_remove,remove_reason,cut_weight,
        transverse_thickness,longitudinal_thickness,cut_inspector,
        cut_time,cut_picture,single_height,
        single_width,single_medium_convexity,single_straightness,
        single_strength,single_extension,single_grain_size,
        single_roughness,surface_quality,surface_quality_remark,
        appearance_quality,appearance_quality_remark,account_origin_thickness,
        account_origin_width,account_origin_weight,finished_thickness,
        finished_width,finished_roll_diameter,finished_weight,
        finished_outer_remove,finished_remove_reason,finished_transverse_thickness,
        finished_longitudinal_thickness,finished_thickness_difference,endwise_height,
        warp_width,convex_rate,flatness,
        tensile_strength,elongation,grain,
        roughness,finished_thickness_difference_picture,cold6_thick_in,
        cold6_thick_out,cold6_remark,cold6_picture,
        cold6_inspector,cold6_time,cast_abnormal_info,
        roll_plan,cold1_daily_qc_situation,cold2_daily_qc_situation,
        cold3_daily_qc_situation,cold4_daily_qc_situation,cold5_daily_qc_situation,
        cold6_daily_qc_situation,furnace1_daily_qc_situation,furnace2_daily_qc_situation,
        furnace3_daily_qc_situation,reeler_daily_qc_situation,annealing1_inspector,
        annealing2_inspector,annealing3_inspector,annealing1_thick,
        annealing2_thick,annealing3_thick,furnace_num,
        rollweight_requirements,origin_roll_diameter,origin_abnormal_information,
        origin_disposal_requirements,annealing1_entrytime,annealing1_exittime,
        annealing2_entrytime,annealing2_exittime,annealing3_entrytime,
        annealing3_exittime,account_unqualified_fact,account_unqualified_review,
        finished_fullband_length,single_roll_diameter,single_roll_weight,
        single_wedge_ratio,strip_type,single_strength_re,
        single_extension_re,bending_performance_requirements,bending_performance_re,
        mechanical_measure_review,head_abnormal_reject_picture,head_abnormal_reject_vedio,
        tail_abnormal_reject_picture,tail_abnormal_reject_vedio,outer_abnormal_reject_picture,
        weighing_thickness,weighing_convexity
    </sql>

    <select id="getRecentTime" resultType="java.lang.String">
        select max(ts) from lmdp_qc_cold_inspect;
    </select>
</mapper>
