<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.LqciMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.Lqci">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="batchNum" column="batch_num" jdbcType="VARCHAR"/>
        <result property="lqciTs" column="lqci_ts" jdbcType="TIMESTAMP"/>
        <result property="consumer" column="consumer" jdbcType="VARCHAR"/>
        <result property="singleStraightness" column="single_straightness" jdbcType="DOUBLE"/>
        <result property="singleMediumConvexity" column="single_medium_convexity" jdbcType="DOUBLE"/>
        <result property="finishedThickness" column="finished_thickness" jdbcType="DOUBLE"/>
        <result property="finishedWidth" column="finished_width" jdbcType="DOUBLE"/>
        <result property="finishedRollDiameter" column="finished_roll_diameter" jdbcType="DOUBLE"/>
        <result property="finishedWeight" column="finished_weight" jdbcType="DOUBLE"/>
        <result property="surfaceQualityRemark" column="surface_quality_remark" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="LqciAndLqcmr" type="com.szj.djk.entity.Lqci">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="batchNum" column="batch_num" jdbcType="VARCHAR"/>
        <result property="lqciTs" column="lqci_ts" jdbcType="TIMESTAMP"/>
        <result property="consumer" column="consumer" jdbcType="VARCHAR"/>
        <result property="singleStraightness" column="single_straightness" jdbcType="DOUBLE"/>
        <result property="singleMediumConvexity" column="single_medium_convexity" jdbcType="DOUBLE"/>
        <result property="finishedThickness" column="finished_thickness" jdbcType="DOUBLE"/>
        <result property="finishedWidth" column="finished_width" jdbcType="DOUBLE"/>
        <result property="finishedRollDiameter" column="finished_roll_diameter" jdbcType="DOUBLE"/>
        <result property="finishedWeight" column="finished_weight" jdbcType="DOUBLE"/>
        <result property="surfaceQualityRemark" column="surface_quality_remark" jdbcType="VARCHAR"/>
        <result property="lqcmr.lqcmrTs" column="lqcmr_ts" />
        <result property="lqcmr.correctStrength" column="correct_strength" />
        <result property="lqcmr.correctExtension" column="correct_extension" />
    </resultMap>


    <sql id="Base_Column_List">
        id,batch_num,ts,
        consumer,single_straightness,single_medium_convexity,
        finished_thickness,finished_width,finished_roll_diameter,
        finished_weight,surface_quality_remark
    </sql>

    <select id="selectLqciAndLqcmr" resultMap="LqciAndLqcmr">
        SELECT lqci.batch_num, lqci_ts, consumer, single_straightness, single_medium_convexity, finished_thickness, finished_width, finished_roll_diameter, finished_weight, surface_quality_remark, lqcmr_ts, lqcmr.correct_strength, lqcmr.correct_extension
        FROM lqci ,  lqcmr
        where lqci.batch_num = lqcmr.batch_num
        and lqci_ts > #{param1}
        and lqcmr_ts > #{param1}
    </select>

</mapper>
