<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.PeriodComputeMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.PeriodCompute" >
        <result property="id"    column="id"    />
        <result property="reelNum"    column="reel_num"    />
        <result property="jihuaCreateTime"    column="jihua_create_time"    />
        <result property="feedTime"    column="feed_time"    />
        <result property="turndownEndTime"    column="turndown_end_time"    />
        <result property="holdRefine1BeginTime"    column="hold_refine1_begin_time"    />
        <result property="holdRefine1EndTime"    column="hold_refine1_end_time"    />
        <result property="holdRefine2BeginTime"    column="hold_refine2_begin_time"    />
        <result property="holdRefine2EndTime"    column="hold_refine2_end_time"    />
        <result property="holdRefine3BeginTime"    column="hold_refine3_begin_time"    />
        <result property="holdRefine3EndTime"    column="hold_refine3_end_time"    />
        <result property="holdRefine4BeginTime"    column="hold_refine4_begin_time"    />
        <result property="holdRefine4EndTime"    column="hold_refine4_end_time"    />
        <result property="holdRefine5BeginTime"    column="hold_refine5_begin_time"    />
        <result property="holdRefine5EndTime"    column="hold_refine5_end_time"    />
        <result property="zhuzhaCreateTime"    column="zhuzha_create_time"    />
        <result property="procUpperTime"    column="proc_upper_time"    />
        <result property="procLowerRemoveTime"    column="proc_lower_remove_time"    />
        <result property="zhijianCreateTime"    column="zhijian_create_time"    />
        <result property="nextReelTime"    column="next_reel_time"    />
        <result property="lzjihuaCreateTime"    column="lzjihua_create_time"    />
        <result property="lenzhaCreateTime"    column="lenzha_create_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="lzzhijianCreateTime"    column="lzzhijian_create_time"    />
        <result property="chongjuanCreateTime"    column="chongjuan_create_time"    />
        <result property="storageTime"    column="storage_time"    />
        <result property="packageCreateTime"    column="package_create_time"    />
        <result property="packageTime"    column="package_time"    />
        <result property="note"    column="note"    />
    </resultMap>

    <sql id="selectPeriodComputeVo">
        select id, reel_num,jihua_create_time, feed_time, turndown_end_time, hold_refine1_begin_time, hold_refine1_end_time, hold_refine2_begin_time, hold_refine2_end_time, hold_refine3_begin_time, hold_refine3_end_time, hold_refine4_begin_time, hold_refine4_end_time, hold_refine5_begin_time, hold_refine5_end_time, zhuzha_create_time, proc_upper_time, proc_lower_remove_time, zhijian_create_time, next_reel_time, lzjihua_create_time, lenzha_create_time, start_time, end_time, lzzhijian_create_time, chongjuan_create_time, storage_time, package_create_time, package_time, note from period_compute
    </sql>
    <select id="autAdd" parameterType="string" resultType="com.szj.djk.entity.PeriodCompute">
        SELECT  lqp.batch_num batch_num,
               lqp.create_time package_create_time,
               lqp.package_time package_time,
               lcsr.storage_time storage_time,
               lcrr.create_time chongjuan_create_time,
               lqcrr.create_time lzzhijian_create_time,
               lcfr.start_time start_time,
               lcfr.end_time end_time,
               lcp.create_time lenzha_create_time,
               lcplan.create_time lzjihua_create_time,
               lqccr.create_time zhijian_create_time,
               lqccr.next_reel_time next_reel_time,
               lcpro.create_time zhuzha_create_time,
               lffc.hold_refine5_end_time hold_refine5_end_time,
               lffc.hold_refine5_begin_time hold_refine5_begin_time,
               lftc.hold_refine4_end_time hold_refine4_end_time,
               lftc.hold_refine4_begin_time hold_refine4_begin_time,
               ltdc.hold_refine3_end_time hold_refine3_end_time,
               ltdc.hold_refine3_begin_time hold_refine3_begin_time,
               lscc.hold_refine2_end_time hold_refine2_end_time,
               lscc.hold_refine2_begin_time hold_refine2_begin_time,
               lfcc.hold_refine1_end_time hold_refine1_end_time,
               lfcc.hold_refine1_begin_time hold_refine1_begin_time,
               lcsh.turndown_end_time turndown_end_time,
               lcsh.feed_time feed_time,
               lcpl.create_time jihua_create_time
        from
            lmdp_qc_pack lqp, lmdp_cold_store_record lcsr, lmdp_cold_rereeler_record lcrr, lmdp_qc_cold_reel_report lqcrr, lmdp_cold_furnace_record lcfr, 		     lmdp_cold_produce lcp, lmdp_cold_plan lcplan, lmdp_qc_cast_reel lqccr, lmdp_cast_produce lcpro, lmdp_fifth_concise lffc,lmdp_fourth_concise lftc,
            lmdp_third_concise ltdc, lmdp_second_concise lscc, lmdp_first_concise lfcc, lmdp_cast_holding_furnace lchf, lmdp_cast_smelt_hold lcsh,
            lmdp_cast_plan lcpl
        WHERE
            lqp.batch_num = lcsr.reel_num
            and lqp.batch_num = lcrr.reel_num
            and lqp.batch_num = lqcrr.batch_num
            and lqp.batch_num = lcfr.batch_num
            and lqp.batch_num = lcp.batch_num
            and lqp.batch_num = lcplan.coldreductionstrip_num
            and lcplan.coldreductionstrip_num = lqccr.reel_num
            and lqccr.reel_num = lcpro.smelt_times
            and lcpro.smelt_times = lffc.hold_refine5_group_name
            and lffc.hold_refine5_group_name = lftc.hold_refine4_group_name
            and lftc.hold_refine4_group_name = ltdc.hold_refine3_group_name
            and ltdc.hold_refine3_group_name = lscc.hold_refine2_group_name
            and lscc.hold_refine2_group_name =lfcc.hold_refine1_group_name
            and lfcc.hold_refine1_group_name = lchf.smelt_times
            and lchf.smelt_times = lcsh.smelt_times
            and lcsh.smelt_times = lcpl.produce_id
            and lqp.package_time > #{startTime}
    </select>


</mapper>
