<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.SlaveErpPlanColdreductionstripMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.SlaveErpPlanColdreductionstrip">
            <id property="coldreductionstripId" column="coldreductionstrip_id" jdbcType="BIGINT"/>
            <result property="coldreductionstripNum" column="coldreductionstrip_num" jdbcType="VARCHAR"/>
            <result property="planningengineer" column="planningengineer" jdbcType="VARCHAR"/>
            <result property="checker" column="checker" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
            <result property="drawupTime" column="drawup_time" jdbcType="TIMESTAMP"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="lastmodifyTime" column="lastmodify_time" jdbcType="TIMESTAMP"/>
            <result property="lastmodifyUser" column="lastmodify_user" jdbcType="VARCHAR"/>
            <result property="client" column="client" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="productuse" column="productuse" jdbcType="VARCHAR"/>
            <result property="deliveredTimeA2" column="delivered_time_a2" jdbcType="TIMESTAMP"/>
            <result property="deliveredTimeB2" column="delivered_time_b2" jdbcType="TIMESTAMP"/>
            <result property="productneedsId" column="productneeds_id" jdbcType="BIGINT"/>
            <result property="comeSpec" column="come_spec" jdbcType="VARCHAR"/>
            <result property="productSpec" column="product_spec" jdbcType="VARCHAR"/>
            <result property="productState" column="product_state" jdbcType="VARCHAR"/>
            <result property="productQuality" column="product_quality" jdbcType="VARCHAR"/>
            <result property="productArea" column="product_area" jdbcType="VARCHAR"/>
            <result property="singleHeight" column="single_height" jdbcType="VARCHAR"/>
            <result property="volumeTotal" column="volume_total" jdbcType="BIGINT"/>
            <result property="heightTotal" column="height_total" jdbcType="VARCHAR"/>
            <result property="productionUnitA" column="production_unit_a" jdbcType="VARCHAR"/>
            <result property="productionUnitB" column="production_unit_b" jdbcType="VARCHAR"/>
            <result property="deliveredTimeA" column="delivered_time_a" jdbcType="TIMESTAMP"/>
            <result property="deliveredTimeB" column="delivered_time_b" jdbcType="TIMESTAMP"/>
            <result property="tensileStrength" column="tensile_strength" jdbcType="VARCHAR"/>
            <result property="elongation" column="elongation" jdbcType="VARCHAR"/>
            <result property="bendingPerformance" column="bending_performance" jdbcType="VARCHAR"/>
            <result property="endwiseHeight" column="endwise_height" jdbcType="VARCHAR"/>
            <result property="warpWidth" column="warp_width" jdbcType="VARCHAR"/>
            <result property="convexRate" column="convex_rate" jdbcType="VARCHAR"/>
            <result property="appearanceReq" column="appearance_req" jdbcType="VARCHAR"/>
            <result property="productCheck" column="product_check" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="BIGINT"/>
            <result property="finished" column="finished" jdbcType="BIGINT"/>
            <result property="sleeveWidth" column="sleeve_width" jdbcType="VARCHAR"/>
            <result property="sleevePath" column="sleeve_path" jdbcType="VARCHAR"/>
            <result property="alloyNumber" column="alloy_number" jdbcType="VARCHAR"/>
            <result property="flatness" column="flatness" jdbcType="VARCHAR"/>
            <result property="wedge" column="wedge" jdbcType="VARCHAR"/>
            <result property="same" column="same" jdbcType="VARCHAR"/>
            <result property="roughness" column="roughness" jdbcType="VARCHAR"/>
            <result property="stringLayer" column="string_layer" jdbcType="VARCHAR"/>
            <result property="dagoba" column="dagoba" jdbcType="VARCHAR"/>
            <result property="otherrequirement" column="otherrequirement" jdbcType="VARCHAR"/>
            <result property="dataName" column="data_name" jdbcType="VARCHAR"/>
            <result property="packing" column="packing" jdbcType="VARCHAR"/>
            <result property="checked2" column="checked2" jdbcType="VARCHAR"/>
            <result property="checked3" column="checked3" jdbcType="VARCHAR"/>
            <result property="cardlds" column="cardlds" jdbcType="VARCHAR"/>
            <result property="checker1" column="checker1" jdbcType="VARCHAR"/>
            <result property="checker2" column="checker2" jdbcType="VARCHAR"/>
            <result property="finishRemark" column="finish_remark" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="erpDataId" column="erp_data_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        coldreductionstrip_id,coldreductionstrip_num,planningengineer,
        checker,result,drawup_time,
        delete_flag,create_time,create_user,
        lastmodify_time,lastmodify_user,client,
        state,productuse,delivered_time_a2,
        delivered_time_b2,productneeds_id,come_spec,
        product_spec,product_state,product_quality,
        product_area,single_height,volume_total,
        height_total,production_unit_a,production_unit_b,
        delivered_time_a,delivered_time_b,tensile_strength,
        elongation,bending_performance,endwise_height,
        warp_width,convex_rate,appearance_req,
        product_check,type,finished,
        sleeve_width,sleeve_path,alloy_number,
        flatness,wedge,same,
        roughness,string_layer,dagoba,
        otherrequirement,data_name,
        packing,checked2,checked3,
        cardlds,checker1,checker2,
        finish_remark,remark,
        erp_data_id
    </sql>
</mapper>
