<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szj.djk.mapper.TwoCastrollMapper">

    <resultMap id="BaseResultMap" type="com.szj.djk.entity.TwoCastroll">
            <id property="ts" column="ts" jdbcType="TIMESTAMP"/>
            <result property="upRollMontorA" column="up_roll_montor_a" jdbcType="INTEGER"/>
            <result property="upRollMontorLineV" column="up_roll_montor_line_v" jdbcType="INTEGER"/>
            <result property="downRollMontorA" column="down_roll_montor_a" jdbcType="INTEGER"/>
            <result property="downRollMontorLineV" column="down_roll_montor_line_v" jdbcType="INTEGER"/>
            <result property="pumpA" column="pump_a" jdbcType="INTEGER"/>
            <result property="pumpF" column="pump_f" jdbcType="INTEGER"/>
            <result property="rollA" column="roll_a" jdbcType="INTEGER"/>
            <result property="rollV" column="roll_v" jdbcType="INTEGER"/>
            <result property="inWaterT" column="in_water_t" jdbcType="INTEGER"/>
            <result property="inWaterFn" column="in_water_fn" jdbcType="INTEGER"/>
            <result property="upRollWaterFn" column="up_roll_water_fn" jdbcType="INTEGER"/>
            <result property="upRollWaterT" column="up_roll_water_t" jdbcType="INTEGER"/>
            <result property="upRollFlow" column="up_roll_flow" jdbcType="INTEGER"/>
            <result property="downRollWaterFn" column="down_roll_water_fn" jdbcType="INTEGER"/>
            <result property="downRollWaterT" column="down_roll_water_t" jdbcType="INTEGER"/>
            <result property="downRollFlow" column="down_roll_flow" jdbcType="INTEGER"/>
            <result property="operationPreloadForce" column="operation_preload_force" jdbcType="INTEGER"/>
            <result property="transPreloadForce" column="trans_preload_force" jdbcType="INTEGER"/>
            <result property="rollTension" column="roll_tension" jdbcType="INTEGER"/>
            <result property="rollDiameter" column="roll_diameter" jdbcType="INTEGER"/>
            <result property="tiWireSpeed" column="ti_wire_speed" jdbcType="INTEGER"/>
            <result property="withMaterialSpeed" column="with_material_speed" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ts,up_roll_montor_a,up_roll_montor_line_v,
        down_roll_montor_a,down_roll_montor_line_v,pump_a,
        pump_f,roll_a,roll_v,
        in_water_t,in_water_fn,up_roll_water_fn,
        up_roll_water_t,up_roll_flow,down_roll_water_fn,
        down_roll_water_t,down_roll_flow,operation_preload_force,
        trans_preload_force,roll_tension,roll_diameter,
        ti_wire_speed,with_material_speed,create_time
    </sql>
    <sql id="selectRollingMachineVo">
        select * from two_castroll WHERE ts>=SYSDATE()-20
    </sql>
    <select id="selectRollingNewData" resultType="com.szj.djk.entity.TwoCastroll" resultMap="BaseResultMap">
        SELECT * from(<include refid="selectRollingMachineVo"/>
        order by ts desc limit 20) aa order by ts
    </select>
    <select id="selectSpecial" resultType="com.szj.djk.entity.TwoCastroll">
        select * from two_castroll where ts between #{before} and #{after}
    </select>
</mapper>
